Gabot-chistes.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"77825630.ad2598","type":"websocket-client","path":"ws://172.17.0.1:12101/api/events/intent","tls":"","wholemsg":"true"},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"42ea2a68.6ddf94","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":200,"wires":[]},{"id":"57c043f2.7dddbc","type":"websocket in","z":"f6f2187d.f17ca8","name":"Rhasspy","server":"","client":"77825630.ad2598","x":80,"y":200,"wires":[["42ea2a68.6ddf94","bed33998.d8cb68"]]},{"id":"61ec8d58.416354","type":"http request","z":"f6f2187d.f17ca8","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.1:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":460,"wires":[[]]},{"id":"759bdc7f.b2f744","type":"template","z":"f6f2187d.f17ca8","name":"RespGetTemp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Está haciendo frio {{payload}} !","output":"str","x":240,"y":460,"wires":[["61ec8d58.416354"]]},{"id":"bed33998.d8cb68","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetQuienSoy","vt":"str"},{"t":"eq","v":"GetQueHaces","vt":"str"},{"t":"eq","v":"GetCuentaChiste","vt":"str"},{"t":"eq","v":"GetTemp","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":90,"y":320,"wires":[["db29f42.c78fd08"],["c3cf90e6.c0458"],["aaf57767.72f348"],["759bdc7f.b2f744"]]},{"id":"b9679f49.b019c","type":"http request","z":"f6f2187d.f17ca8","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.1:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":320,"wires":[[]]},{"id":"c3cf90e6.c0458","type":"template","z":"f6f2187d.f17ca8","name":"RespQueHaces","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Puedo contarte chistes,animarte un poco y cada vez mas mi creador me irá agregando mas capacidades {{payload}} !","output":"str","x":240,"y":320,"wires":[["b9679f49.b019c"]]},{"id":"6e97f829.10fdc8","type":"http request","z":"f6f2187d.f17ca8","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.1:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":260,"wires":[[]]},{"id":"db29f42.c78fd08","type":"template","z":"f6f2187d.f17ca8","name":"RespQuienSoy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Soy Gabot, un simpático robot, creado para acercar la robótica a niños, jovenes y adultos.{{payload}} !","output":"str","x":240,"y":260,"wires":[["6e97f829.10fdc8"]]},{"id":"c2788f0b.70afa","type":"template","z":"f6f2187d.f17ca8","name":"Chiste","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"¿Cuál es el colmo de un Robot?\nTener nervios de acero. ","output":"str","x":630,"y":360,"wires":[["3629815e.7514ae"]]},{"id":"3629815e.7514ae","type":"http request","z":"f6f2187d.f17ca8","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.1:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":360,"wires":[[]]},{"id":"27418de5.fa4d02","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":6,"x":460,"y":400,"wires":[["c2788f0b.70afa"],["ba0f087c.326808"],["b6e3f914.1b48e8"],["b1ce3b51.f6ea98"],["e3d20990.2195b8"],["143904b1.28b30b"]]},{"id":"aaf57767.72f348","type":"random","z":"f6f2187d.f17ca8","name":"","low":1,"high":"6","inte":"true","property":"payload","x":290,"y":400,"wires":[["27418de5.fa4d02"]]},{"id":"2efcaa02.ac9f56","type":"http request","z":"f6f2187d.f17ca8","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.1:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":420,"wires":[[]]},{"id":"ba0f087c.326808","type":"template","z":"f6f2187d.f17ca8","name":"Chiste","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"En China crearon un robot que en 5 minutos atrapó a 20 ladrones.\nEn Estados Unidos en 4 minutos atrapó a 15 Ladrones.\nEn España en 2 Minutos atrapó a 10 Ladrones.\nEn mi país en 30 segundos se robaron al robot, jajajaja ","output":"str","x":630,"y":420,"wires":[["2efcaa02.ac9f56"]]},{"id":"576c070a.b3b738","type":"http request","z":"f6f2187d.f17ca8","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.1:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":480,"wires":[[]]},{"id":"b6e3f914.1b48e8","type":"template","z":"f6f2187d.f17ca8","name":"Chiste","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Un robot entra en un bar. ¿Qué puedo ofrecerte?, pregunta el camarero. Necesito algo para aflojarme, responde el robot. Así que el camarero le sirve un destornillador.","output":"str","x":630,"y":480,"wires":[["576c070a.b3b738"]]},{"id":"b1ce3b51.f6ea98","type":"template","z":"f6f2187d.f17ca8","name":"Chiste","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"¿Cuál es la música favorita de un robot?. ¡El jevi metal!","output":"str","x":630,"y":540,"wires":[["8ce97f58.e37f1"]]},{"id":"8ce97f58.e37f1","type":"http request","z":"f6f2187d.f17ca8","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.1:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":540,"wires":[[]]},{"id":"e3d20990.2195b8","type":"template","z":"f6f2187d.f17ca8","name":"Chiste","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hola, ¿tienen libros para el cansancio?.Sí, pero están agotados.","output":"str","x":630,"y":600,"wires":[["aff55d13.6f8bd"]]},{"id":"aff55d13.6f8bd","type":"http request","z":"f6f2187d.f17ca8","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.1:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":600,"wires":[[]]},{"id":"143904b1.28b30b","type":"template","z":"f6f2187d.f17ca8","name":"Chiste","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Oiga, ¿no le parece extraño que ese caballo le haya pedido un whisky?.. Pues sí, muy extraño: ese caballo siempre pide agua mineral sin gas.!","output":"str","x":630,"y":660,"wires":[["9e24424c.3267d"]]},{"id":"9e24424c.3267d","type":"http request","z":"f6f2187d.f17ca8","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.1:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":660,"wires":[[]]},{"id":"461f4a03.fe3234","type":"template","z":"f6f2187d.f17ca8","name":"Chiste","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" {{payload}} !","output":"str","x":630,"y":720,"wires":[["d293922b.232bf"]]},{"id":"d293922b.232bf","type":"http request","z":"f6f2187d.f17ca8","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.1:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":720,"wires":[[]]}]